body {
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color: #32092B;
}

h1 {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
    color: black;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    color: #633991;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    color: #633991;
    font-size: 33px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #633991;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: #633991;
    margin-bottom: 0.7rem;
}

p {
    color: #959094;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}



/* HERO
----------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

.bg-gradient {
    background-color: #FEDCC8;
}

.subtitle{ 
    font-size: 20px;
    color: #424242;
}

.name {
    color: #424242;
}

.name:hover{
    color: black;
    text-decoration: underline;
}

.section-mini-heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
    
}

.section-heading{
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
    padding-bottom: 40px;
    font-weight: 400px;
    color: white;
    letter-spacing: 3px;
    
}

.row{
    margin-bottom: 30px;
}


/* FEATURES
----------------------*/

.card{
    padding: 20px;
    background-color: #fedcc8;
    transition: .3s ;
    cursor: pointer;
}

.card:hover{
    transform: translate(-3%, -3%);
    background-color: #ffaa00;
    box-shadow: 5px 5px 20px white;
    text-decoration: none;
}

.card-title{
    text-align: center;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
}
.card-title:hover{
    text-decoration: none;
} 

.card-text{
    color: #424242;
    text-align: justify;
    font-size: 15px;
}

.card-text:hover{
    text-decoration: none;
}








  

